{% extends "layout.html" %} {% block body %}

<div class="p-3 text-white">
  <br />
  <div class="row">
    <div class="col">
      <img
        src="../static/profile_user/ตั้ม.jpg"
        class="rounded-circle float-start d-block w-75"
        alt="..."
      />
    </div>
    <div class="col align-self-center me-3">
      <h1><strong>65070075 นายณัฐดนัย วะนาไชย</strong></h1>
      <h5 class="text-warning my-3">
        คณะเทคโนโลยีสารสนเทศ สาขาวิทยาการข้อมูลและการวิเคราะห์เชิงธุรกิจ
        <br />สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง
      </h5>
      <h5 class="my-3">ตำแหน่ง</h5>
      <div class="row row-cols-auto">
        <div class="col">
          <a class="btn btn-warning text-white">Creative</a>
        </div>
        <div class="col">
          <a class="btn btn-danger">Software Tester</a>
        </div>
        <div class="col">
          <a class="btn btn-success">UX / UI Design</a>
        </div>
      </div>
      <br />
    </div>
  </div>
  <div class="row">
    <div class="col align-self-center me-3">
      <h1><strong>65070152 นางสาวพัทธ์ธีรา หลีชาติ</strong></h1>
      <h5 class="text-warning my-3">
        คณะเทคโนโลยีสารสนเทศ สาขาวิทยาการข้อมูลและการวิเคราะห์เชิงธุรกิจ
        <br />สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง
      </h5>
      <h5 class="my-3">ตำแหน่ง</h5>
      <div class="row row-cols-auto">
        <div class="col">
          <a class="btn btn-primary">Software Developer</a>
        </div>
      </div>
      <br />
    </div>
    <div class="col">
      <img
        src="../static/profile_user/ลูกแก้ว.jpg"
        class="rounded-circle float-end d-block w-75"
        alt="..."
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img
        src="../static/profile_user/ต้อง.jpg"
        class="rounded-circle float-start d-block w-75"
        alt="..."
      />
    </div>
    <div class="col align-self-center me-3">
      <h1><strong>65070107 นายธิติวุฒิ มะลิวัลย์</strong></h1>
      <h5 class="text-warning my-3">
        คณะเทคโนโลยีสารสนเทศ สาขาวิทยาการข้อมูลและการวิเคราะห์เชิงธุรกิจ
        <br />สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง
      </h5>
      <h5 class="my-3">ตำแหน่ง</h5>
      <div class="row row-cols-auto">
        <div class="col">
          <a class="btn btn-primary">Software Developer</a>
        </div>
      </div>
      <br />
    </div>
  </div>
  <div class="row">
    <div class="col align-self-center me-3">
      <h1><strong>65070186 นายมงคล บุญดำเนิน</strong></h1>
      <h5 class="text-warning my-3">
        คณะเทคโนโลยีสารสนเทศ สาขาวิทยาการข้อมูลและการวิเคราะห์เชิงธุรกิจ
        <br />สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง
      </h5>
      <h5 class="my-3">ตำแหน่ง</h5>
      <div class="row row-cols-auto">
        <div class="col">
          <a class="btn btn-light">Full Stack Developer</a>
        </div>
        <div class="col">
          <a class="btn btn-dark">Data Scientist</a>
        </div>
      </div>
      <br />
    </div>
    <div class="col">
      <img
        src="../static/profile_user/บอส.jpg"
        class="rounded-circle float-end d-block w-75"
        alt="..."
      />
    </div>
  </div>
  <br />
</div>

{% endblock %}
