{% extends "layout.html" %} {% block body %}

<div class="container p-3">
  <br />
  <div class="col my-2">
    <div class="alert alert-light" role="alert">
      <input
        type="hidden"
        id="positive_result"
        value="{{ account['positive_resultcar'] }}"
        name="positive_result"
      />
      <input
        type="hidden"
        id="negative_result"
        value="{{ account['negative_resultcar'] }}"
        name="negative_result"
      />
      <h2 class="alert-heading">
        ทำนายโชคชะตาของผู้ใช้ทะเบียนรถยนต์ {{ account['car'] }} เป็นประจำ
      </h2>
      <hr />
      <h4 class="mb-0">{{ account['mescar'] }}</h4>
      <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
      <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
      <script src="http://cdn.amcharts.com/lib/4/themes/animated.js"></script>
      <div id="grapdiv" style="width: 100%; height: 400px"></div>
      <h2 class="text-center my-3">
        มีค่าความโชคดี {{ account['positive_resultcar'] }} %
      </h2>
    </div>
  </div>
  <div class="col my-2 text-center">
    <br />
    <a
      href="/index/{{id}}"
      type="button"
      class="btn btn-outline-light"
      ><h3>กลับไปหน้าหลัก</h3></a
    >
  </div>
</div>

{% endblock %}
